# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pycharm
.idea/

# Batch executable
*.bat

# configs
*.json

# logs
logs/

# youtube_cookies
youtube_cookies.txt